
C\#/SEP3/Shared/obj/Debug/net6.0/Shared.csproj.CoreCompileInputs.cache
C\#/SEP3/Supplier/bin/Debug/net6.0/Supplier.dll
C\#/SEP3/Supplier/bin/Debug/net6.0/Supplier.pdb
C\#/SEP3/Supplier/obj/Debug/net6.0/Supplier.csproj.CoreCompileInputs.cache
C\#/SEP3/Supplier/obj/Debug/net6.0/Supplier.csproj.FileListAbsolute.txt
C\#/SEP3/Supplier/obj/Debug/net6.0/Supplier.dll
C\#/SEP3/Supplier/obj/Debug/net6.0/Supplier.genruntimeconfig.cache
C\#/SEP3/Supplier/obj/Debug/net6.0/Supplier.pdb
C\#/SEP3/Supplier/obj/staticwebassets.pack.sentinel
C\#/SEP3/Supplier/obj/Supplier.csproj.nuget.g.props
C\#/SEP3/Supplier/obj/Supplier.csproj.nuget.dgspec.json
C\#/SEP3/Supplier/obj/rider.project.restore.info
C\#/SEP3/Supplier/obj/project.packagespec.json
C\#/SEP3/Supplier/obj/project.nuget.cache
C\#/SEP3/Supplier/obj/project.assets.json
C\#/SEP3/Supplier/obj/Debug/net6.0/Supplier.GeneratedMSBuildEditorConfig.editorconfig
C\#/SEP3/Supplier/obj/Debug/net6.0/Supplier.assets.cache
C\#/SEP3/ShopApplication/obj/ShopApplication.csproj.nuget.g.props
C\#/SEP3/ShopApplication/obj/ShopApplication.csproj.nuget.dgspec.json
C\#/SEP3/ShopApplication/obj/rider.project.restore.info
C\#/SEP3/ShopApplication/obj/project.packagespec.json
C\#/SEP3/ShopApplication/obj/project.nuget.cache
C\#/SEP3/ShopApplication/obj/project.assets.json
C\#/SEP3/ShopApplication/obj/Debug/net6.0/ShopApplication.GeneratedMSBuildEditorConfig.editorconfig
C\#/SEP3/ShopApplication/obj/Debug/net6.0/ShopApplication.csproj.AssemblyReference.cache
C\#/SEP3/ShopApplication/obj/Debug/net6.0/ShopApplication.assets.cache
C\#/SEP3/ShopAPI/obj/ShopAPI.csproj.nuget.g.props
C\#/SEP3/ShopAPI/obj/ShopAPI.csproj.nuget.dgspec.json
C\#/SEP3/ShopAPI/obj/rider.project.restore.info
C\#/SEP3/ShopAPI/obj/project.packagespec.json
C\#/SEP3/ShopAPI/obj/project.nuget.cache
C\#/SEP3/ShopAPI/obj/project.assets.json
C\#/SEP3/ShopAPI/obj/Debug/net6.0/ShopAPI.GeneratedMSBuildEditorConfig.editorconfig
C\#/SEP3/ShopAPI/obj/Debug/net6.0/ShopAPI.csproj.AssemblyReference.cache
C\#/SEP3/ShopAPI/obj/Debug/net6.0/ShopAPI.assets.cache
C\#/SEP3/Shared/obj/Shared.csproj.nuget.g.props
C\#/SEP3/Shared/obj/Shared.csproj.nuget.dgspec.json
C\#/SEP3/Shared/obj/rider.project.restore.info
C\#/SEP3/Shared/obj/project.packagespec.json
C\#/SEP3/Shared/obj/project.nuget.cache
C\#/SEP3/Shared/obj/project.assets.json
C\#/SEP3/Shared/obj/Debug/net6.0/Shared.GeneratedMSBuildEditorConfig.editorconfig
C\#/SEP3/Shared/obj/Debug/net6.0/Shared.csproj.AssemblyReference.cache
C\#/SEP3/Shared/obj/Debug/net6.0/Shared.assets.cache
C\#/SEP3/FileData/obj/rider.project.restore.info
C\#/SEP3/FileData/obj/project.packagespec.json
C\#/SEP3/FileData/obj/project.nuget.cache
C\#/SEP3/FileData/obj/project.assets.json
C\#/SEP3/FileData/obj/FileData.csproj.nuget.g.props
C\#/SEP3/FileData/obj/FileData.csproj.nuget.dgspec.json
C\#/SEP3/FileData/obj/Debug/net6.0/FileData.GeneratedMSBuildEditorConfig.editorconfig
C\#/SEP3/FileData/obj/Debug/net6.0/FileData.csproj.AssemblyReference.cache
C\#/SEP3/FileData/obj/Debug/net6.0/FileData.assets.cache
C\#/SEP3/BlazorClient/obj/rider.project.restore.info
C\#/SEP3/BlazorClient/obj/project.packagespec.json
C\#/SEP3/BlazorClient/obj/project.nuget.cache
C\#/SEP3/BlazorClient/obj/project.assets.json
C\#/SEP3/BlazorClient/obj/Debug/net6.0/BlazorClient.GeneratedMSBuildEditorConfig.editorconfig
C\#/SEP3/BlazorClient/obj/Debug/net6.0/BlazorClient.assets.cache
C\#/SEP3/BlazorClient/obj/BlazorClient.csproj.nuget.g.props
C\#/SEP3/BlazorClient/obj/BlazorClient.csproj.nuget.dgspec.json
