
C\#/SEP3/BlazorClient/obj/BlazorClient.csproj.nuget.dgspec.json
C\#/SEP3/BlazorClient/obj/BlazorClient.csproj.nuget.g.props
C\#/SEP3/BlazorClient/obj/Debug/net6.0/BlazorClient.assets.cache
C\#/SEP3/BlazorClient/obj/Debug/net6.0/BlazorClient.GeneratedMSBuildEditorConfig.editorconfig
C\#/SEP3/BlazorClient/obj/project.assets.json
C\#/SEP3/BlazorClient/obj/project.nuget.cache
C\#/SEP3/BlazorClient/obj/project.packagespec.json
C\#/SEP3/BlazorClient/obj/rider.project.restore.info
C\#/SEP3/FileData/obj/Debug/net6.0/FileData.assets.cache
C\#/SEP3/FileData/obj/Debug/net6.0/FileData.GeneratedMSBuildEditorConfig.editorconfig
C\#/SEP3/FileData/obj/FileData.csproj.nuget.dgspec.json
C\#/SEP3/FileData/obj/FileData.csproj.nuget.g.props
C\#/SEP3/FileData/obj/project.assets.json
C\#/SEP3/FileData/obj/project.nuget.cache
C\#/SEP3/FileData/obj/project.packagespec.json
C\#/SEP3/FileData/obj/rider.project.restore.info
C\#/SEP3/HttpClients/obj/Debug/net6.0/HttpClients.assets.cache
C\#/SEP3/HttpClients/obj/Debug/net6.0/HttpClients.GeneratedMSBuildEditorConfig.editorconfig
C\#/SEP3/HttpClients/obj/HttpClients.csproj.nuget.dgspec.json
C\#/SEP3/HttpClients/obj/HttpClients.csproj.nuget.g.props
C\#/SEP3/HttpClients/obj/project.assets.json
C\#/SEP3/HttpClients/obj/project.nuget.cache
C\#/SEP3/HttpClients/obj/project.packagespec.json
C\#/SEP3/HttpClients/obj/rider.project.restore.info
C\#/SEP3/Shared/obj/Debug/net6.0/Shared.assets.cache
C\#/SEP3/Shared/obj/Debug/net6.0/Shared.GeneratedMSBuildEditorConfig.editorconfig
C\#/SEP3/Shared/obj/project.assets.json
C\#/SEP3/Shared/obj/project.nuget.cache
C\#/SEP3/Shared/obj/project.packagespec.json
C\#/SEP3/Shared/obj/rider.project.restore.info
C\#/SEP3/Shared/obj/Shared.csproj.nuget.dgspec.json
C\#/SEP3/Shared/obj/Shared.csproj.nuget.g.props
C\#/SEP3/ShopAPI/obj/Debug/net6.0/ShopAPI.assets.cache
C\#/SEP3/ShopAPI/obj/Debug/net6.0/ShopAPI.GeneratedMSBuildEditorConfig.editorconfig
C\#/SEP3/ShopAPI/obj/project.assets.json
C\#/SEP3/ShopAPI/obj/project.nuget.cache
C\#/SEP3/ShopAPI/obj/project.packagespec.json
C\#/SEP3/ShopAPI/obj/rider.project.restore.info
C\#/SEP3/ShopAPI/obj/ShopAPI.csproj.nuget.dgspec.json
C\#/SEP3/ShopAPI/obj/ShopAPI.csproj.nuget.g.props
C\#/SEP3/ShopApplication/obj/Debug/net6.0/ShopApplication.assets.cache
C\#/SEP3/ShopApplication/obj/Debug/net6.0/ShopApplication.GeneratedMSBuildEditorConfig.editorconfig
C\#/SEP3/ShopApplication/obj/project.assets.json
C\#/SEP3/ShopApplication/obj/project.nuget.cache
C\#/SEP3/ShopApplication/obj/project.packagespec.json
C\#/SEP3/ShopApplication/obj/rider.project.restore.info
C\#/SEP3/ShopApplication/obj/ShopApplication.csproj.nuget.dgspec.json
C\#/SEP3/ShopApplication/obj/ShopApplication.csproj.nuget.g.props
C\#/SEP3/Supplier/obj/Debug/net6.0/Supplier.assets.cache
C\#/SEP3/Supplier/obj/Debug/net6.0/Supplier.GeneratedMSBuildEditorConfig.editorconfig
C\#/SEP3/Supplier/obj/project.assets.json
C\#/SEP3/Supplier/obj/project.nuget.cache
C\#/SEP3/Supplier/obj/project.packagespec.json
C\#/SEP3/Supplier/obj/rider.project.restore.info
C\#/SEP3/Supplier/obj/Supplier.csproj.nuget.dgspec.json
C\#/SEP3/Supplier/obj/Supplier.csproj.nuget.g.props
C\#/SEP3/BlazorClient/obj/BlazorClient.csproj.nuget.dgspec.json
C\#/SEP3/BlazorClient/obj/BlazorClient.csproj.nuget.g.props
C\#/SEP3/BlazorClient/obj/Debug/net6.0/BlazorClient.assets.cache
C\#/SEP3/BlazorClient/obj/Debug/net6.0/BlazorClient.GeneratedMSBuildEditorConfig.editorconfig
C\#/SEP3/BlazorClient/obj/project.assets.json
C\#/SEP3/BlazorClient/obj/project.nuget.cache
C\#/SEP3/BlazorClient/obj/project.packagespec.json
C\#/SEP3/BlazorClient/obj/rider.project.restore.info
C\#/SEP3/FileData/obj/Debug/net6.0/FileData.assets.cache
C\#/SEP3/FileData/obj/Debug/net6.0/FileData.GeneratedMSBuildEditorConfig.editorconfig
C\#/SEP3/FileData/obj/FileData.csproj.nuget.dgspec.json
C\#/SEP3/FileData/obj/FileData.csproj.nuget.g.props
C\#/SEP3/FileData/obj/project.assets.json
C\#/SEP3/FileData/obj/project.nuget.cache
C\#/SEP3/FileData/obj/project.packagespec.json
C\#/SEP3/FileData/obj/rider.project.restore.info
C\#/SEP3/HttpClients/obj/Debug/net6.0/HttpClients.assets.cache
C\#/SEP3/HttpClients/obj/Debug/net6.0/HttpClients.GeneratedMSBuildEditorConfig.editorconfig
C\#/SEP3/HttpClients/obj/HttpClients.csproj.nuget.dgspec.json
C\#/SEP3/HttpClients/obj/HttpClients.csproj.nuget.g.props
C\#/SEP3/HttpClients/obj/project.assets.json
C\#/SEP3/HttpClients/obj/project.nuget.cache
C\#/SEP3/HttpClients/obj/project.packagespec.json
C\#/SEP3/HttpClients/obj/rider.project.restore.info
C\#/SEP3/Shared/obj/Debug/net6.0/Shared.assets.cache
C\#/SEP3/Shared/obj/Debug/net6.0/Shared.GeneratedMSBuildEditorConfig.editorconfig
C\#/SEP3/Shared/obj/project.assets.json
C\#/SEP3/Shared/obj/project.nuget.cache
C\#/SEP3/Shared/obj/project.packagespec.json
C\#/SEP3/Shared/obj/rider.project.restore.info
C\#/SEP3/Shared/obj/Shared.csproj.nuget.dgspec.json
C\#/SEP3/Shared/obj/Shared.csproj.nuget.g.props
C\#/SEP3/ShopAPI/obj/Debug/net6.0/ShopAPI.assets.cache
C\#/SEP3/ShopAPI/obj/Debug/net6.0/ShopAPI.GeneratedMSBuildEditorConfig.editorconfig
C\#/SEP3/ShopAPI/obj/project.assets.json
C\#/SEP3/ShopAPI/obj/project.nuget.cache
C\#/SEP3/ShopAPI/obj/project.packagespec.json
C\#/SEP3/ShopAPI/obj/rider.project.restore.info
C\#/SEP3/ShopAPI/obj/ShopAPI.csproj.nuget.dgspec.json
C\#/SEP3/ShopAPI/obj/ShopAPI.csproj.nuget.g.props
C\#/SEP3/ShopApplication/obj/Debug/net6.0/ShopApplication.assets.cache
C\#/SEP3/ShopApplication/obj/Debug/net6.0/ShopApplication.GeneratedMSBuildEditorConfig.editorconfig
C\#/SEP3/ShopApplication/obj/project.assets.json
C\#/SEP3/ShopApplication/obj/project.nuget.cache
C\#/SEP3/ShopApplication/obj/project.packagespec.json
C\#/SEP3/ShopApplication/obj/rider.project.restore.info
C\#/SEP3/ShopApplication/obj/ShopApplication.csproj.nuget.dgspec.json
C\#/SEP3/ShopApplication/obj/ShopApplication.csproj.nuget.g.props
C\#/SEP3/Supplier/obj/Debug/net6.0/Supplier.assets.cache
C\#/SEP3/Supplier/obj/Debug/net6.0/Supplier.GeneratedMSBuildEditorConfig.editorconfig
C\#/SEP3/Supplier/obj/project.assets.json
C\#/SEP3/Supplier/obj/project.nuget.cache
C\#/SEP3/Supplier/obj/project.packagespec.json
C\#/SEP3/Supplier/obj/rider.project.restore.info
C\#/SEP3/Supplier/obj/Supplier.csproj.nuget.dgspec.json
C\#/SEP3/Supplier/obj/Supplier.csproj.nuget.g.props
C\#/SEP3/BlazorClient/bin/Debug/net6.0/BlazorClient.dll
C\#/SEP3/BlazorClient/bin/Debug/net6.0/BlazorClient.pdb
C\#/SEP3/BlazorClient/bin/Debug/net6.0/BlazorClient.staticwebassets.runtime.json
C\#/SEP3/BlazorClient/bin/Debug/net6.0/dotnet.js
C\#/SEP3/BlazorClient/bin/Debug/net6.0/HttpClients.dll
C\#/SEP3/BlazorClient/bin/Debug/net6.0/HttpClients.pdb
C\#/SEP3/BlazorClient/bin/Debug/net6.0/Shared.dll
C\#/SEP3/BlazorClient/bin/Debug/net6.0/Shared.pdb
C\#/SEP3/BlazorClient/bin/Debug/net6.0/wwwroot/_framework/blazor.boot.json
C\#/SEP3/BlazorClient/bin/Debug/net6.0/wwwroot/_framework/BlazorClient.dll
C\#/SEP3/BlazorClient/bin/Debug/net6.0/wwwroot/_framework/BlazorClient.dll.gz
C\#/SEP3/BlazorClient/bin/Debug/net6.0/wwwroot/_framework/BlazorClient.pdb
C\#/SEP3/BlazorClient/bin/Debug/net6.0/wwwroot/_framework/BlazorClient.pdb.gz
C\#/SEP3/BlazorClient/bin/Debug/net6.0/wwwroot/_framework/HttpClients.dll
C\#/SEP3/BlazorClient/bin/Debug/net6.0/wwwroot/_framework/HttpClients.dll.gz
C\#/SEP3/BlazorClient/bin/Debug/net6.0/wwwroot/_framework/HttpClients.pdb
C\#/SEP3/BlazorClient/bin/Debug/net6.0/wwwroot/_framework/HttpClients.pdb.gz
C\#/SEP3/BlazorClient/bin/Debug/net6.0/wwwroot/_framework/Shared.dll
C\#/SEP3/BlazorClient/bin/Debug/net6.0/wwwroot/_framework/Shared.dll.gz
C\#/SEP3/BlazorClient/bin/Debug/net6.0/wwwroot/_framework/Shared.pdb
C\#/SEP3/BlazorClient/bin/Debug/net6.0/wwwroot/_framework/Shared.pdb.gz
C\#/SEP3/BlazorClient/obj/BlazorClient.csproj.nuget.dgspec.json
C\#/SEP3/BlazorClient/obj/BlazorClient.csproj.nuget.g.props
C\#/SEP3/BlazorClient/obj/Debug/net6.0/blazor.boot.json
C\#/SEP3/BlazorClient/obj/Debug/net6.0/BlazorClient.assets.cache
C\#/SEP3/BlazorClient/obj/Debug/net6.0/BlazorClient.csproj.AssemblyReference.cache
C\#/SEP3/BlazorClient/obj/Debug/net6.0/BlazorClient.csproj.CoreCompileInputs.cache
C\#/SEP3/BlazorClient/obj/Debug/net6.0/BlazorClient.csproj.FileListAbsolute.txt
C\#/SEP3/BlazorClient/obj/Debug/net6.0/BlazorClient.dll
C\#/SEP3/BlazorClient/obj/Debug/net6.0/BlazorClient.GeneratedMSBuildEditorConfig.editorconfig
C\#/SEP3/BlazorClient/obj/Debug/net6.0/BlazorClient.pdb
C\#/SEP3/BlazorClient/obj/Debug/net6.0/build-gz/3hQnWYBO.gz
C\#/SEP3/BlazorClient/obj/Debug/net6.0/build-gz/6NVKQP6n.gz
C\#/SEP3/BlazorClient/obj/Debug/net6.0/build-gz/c+otQKsE.gz
C\#/SEP3/BlazorClient/obj/Debug/net6.0/build-gz/DQhN+zW6.gz
C\#/SEP3/BlazorClient/obj/Debug/net6.0/build-gz/FA5rFLRR.gz
C\#/SEP3/BlazorClient/obj/Debug/net6.0/build-gz/PqY+DCJ6.gz
C\#/SEP3/BlazorClient/obj/Debug/net6.0/ref/BlazorClient.dll
C\#/SEP3/BlazorClient/obj/Debug/net6.0/refint/BlazorClient.dll
C\#/SEP3/BlazorClient/obj/Debug/net6.0/staticwebassets.build.json
C\#/SEP3/BlazorClient/obj/Debug/net6.0/staticwebassets.development.json
C\#/SEP3/BlazorClient/obj/project.assets.json
C\#/SEP3/BlazorClient/obj/project.nuget.cache
C\#/SEP3/BlazorClient/obj/project.packagespec.json
C\#/SEP3/BlazorClient/obj/rider.project.restore.info
C\#/SEP3/BlazorClient/obj/staticwebassets.pack.sentinel
C\#/SEP3/FileData/bin/Debug/net6.0/FileData.dll
C\#/SEP3/FileData/bin/Debug/net6.0/FileData.pdb
C\#/SEP3/FileData/bin/Debug/net6.0/Shared.dll
C\#/SEP3/FileData/bin/Debug/net6.0/Shared.pdb
C\#/SEP3/FileData/bin/Debug/net6.0/ShopApplication.dll
C\#/SEP3/FileData/bin/Debug/net6.0/ShopApplication.pdb
C\#/SEP3/FileData/obj/Debug/net6.0/FileData.assets.cache
C\#/SEP3/FileData/obj/Debug/net6.0/FileData.csproj.AssemblyReference.cache
C\#/SEP3/FileData/obj/Debug/net6.0/FileData.csproj.CoreCompileInputs.cache
C\#/SEP3/FileData/obj/Debug/net6.0/FileData.dll
C\#/SEP3/FileData/obj/Debug/net6.0/FileData.GeneratedMSBuildEditorConfig.editorconfig
C\#/SEP3/FileData/obj/Debug/net6.0/FileData.pdb
C\#/SEP3/FileData/obj/FileData.csproj.nuget.dgspec.json
C\#/SEP3/FileData/obj/FileData.csproj.nuget.g.props
C\#/SEP3/FileData/obj/project.assets.json
C\#/SEP3/FileData/obj/project.nuget.cache
C\#/SEP3/FileData/obj/project.packagespec.json
C\#/SEP3/FileData/obj/rider.project.restore.info
C\#/SEP3/HttpClients/bin/Debug/net6.0/HttpClients.dll
C\#/SEP3/HttpClients/bin/Debug/net6.0/HttpClients.pdb
C\#/SEP3/HttpClients/bin/Debug/net6.0/Shared.dll
C\#/SEP3/HttpClients/bin/Debug/net6.0/Shared.pdb
C\#/SEP3/HttpClients/obj/Debug/net6.0/HttpClients.assets.cache
C\#/SEP3/HttpClients/obj/Debug/net6.0/HttpClients.csproj.AssemblyReference.cache
C\#/SEP3/HttpClients/obj/Debug/net6.0/HttpClients.csproj.CoreCompileInputs.cache
C\#/SEP3/HttpClients/obj/Debug/net6.0/HttpClients.dll
C\#/SEP3/HttpClients/obj/Debug/net6.0/HttpClients.GeneratedMSBuildEditorConfig.editorconfig
C\#/SEP3/HttpClients/obj/Debug/net6.0/HttpClients.pdb
C\#/SEP3/HttpClients/obj/HttpClients.csproj.nuget.dgspec.json
C\#/SEP3/HttpClients/obj/HttpClients.csproj.nuget.g.props
C\#/SEP3/HttpClients/obj/project.assets.json
C\#/SEP3/HttpClients/obj/project.nuget.cache
C\#/SEP3/HttpClients/obj/project.packagespec.json
C\#/SEP3/HttpClients/obj/rider.project.restore.info
C\#/SEP3/Shared/bin/Debug/net6.0/Shared.dll
C\#/SEP3/Shared/bin/Debug/net6.0/Shared.pdb
C\#/SEP3/Shared/obj/Debug/net6.0/Shared.assets.cache
C\#/SEP3/Shared/obj/Debug/net6.0/Shared.dll
C\#/SEP3/Shared/obj/Debug/net6.0/Shared.GeneratedMSBuildEditorConfig.editorconfig
C\#/SEP3/Shared/obj/Debug/net6.0/Shared.pdb
C\#/SEP3/Shared/obj/project.assets.json
C\#/SEP3/Shared/obj/project.nuget.cache
C\#/SEP3/Shared/obj/project.packagespec.json
C\#/SEP3/Shared/obj/rider.project.restore.info
C\#/SEP3/Shared/obj/Shared.csproj.nuget.dgspec.json
C\#/SEP3/Shared/obj/Shared.csproj.nuget.g.props
C\#/SEP3/ShopAPI/bin/Debug/net6.0/data.json
C\#/SEP3/ShopAPI/bin/Debug/net6.0/FileData.dll
C\#/SEP3/ShopAPI/bin/Debug/net6.0/FileData.pdb
C\#/SEP3/ShopAPI/bin/Debug/net6.0/Shared.dll
C\#/SEP3/ShopAPI/bin/Debug/net6.0/Shared.pdb
C\#/SEP3/ShopAPI/bin/Debug/net6.0/ShopAPI.dll
C\#/SEP3/ShopAPI/bin/Debug/net6.0/ShopAPI.pdb
C\#/SEP3/ShopAPI/bin/Debug/net6.0/ShopApplication.dll
C\#/SEP3/ShopAPI/bin/Debug/net6.0/ShopApplication.pdb
C\#/SEP3/ShopAPI/obj/Debug/net6.0/ShopAPI.assets.cache
C\#/SEP3/ShopAPI/obj/Debug/net6.0/ShopAPI.csproj.AssemblyReference.cache
C\#/SEP3/ShopAPI/obj/Debug/net6.0/ShopAPI.csproj.CoreCompileInputs.cache
C\#/SEP3/ShopAPI/obj/Debug/net6.0/ShopAPI.dll
C\#/SEP3/ShopAPI/obj/Debug/net6.0/ShopAPI.GeneratedMSBuildEditorConfig.editorconfig
C\#/SEP3/ShopAPI/obj/Debug/net6.0/ShopAPI.genruntimeconfig.cache
C\#/SEP3/ShopAPI/obj/Debug/net6.0/ShopAPI.pdb
C\#/SEP3/ShopAPI/obj/project.assets.json
C\#/SEP3/ShopAPI/obj/project.nuget.cache
C\#/SEP3/ShopAPI/obj/project.packagespec.json
C\#/SEP3/ShopAPI/obj/rider.project.restore.info
C\#/SEP3/ShopAPI/obj/ShopAPI.csproj.nuget.dgspec.json
C\#/SEP3/ShopAPI/obj/ShopAPI.csproj.nuget.g.props
C\#/SEP3/ShopAPI/obj/staticwebassets.pack.sentinel
C\#/SEP3/ShopApplication/bin/Debug/net6.0/Shared.dll
C\#/SEP3/ShopApplication/bin/Debug/net6.0/Shared.pdb
C\#/SEP3/ShopApplication/bin/Debug/net6.0/ShopApplication.dll
C\#/SEP3/ShopApplication/bin/Debug/net6.0/ShopApplication.pdb
C\#/SEP3/ShopApplication/obj/Debug/net6.0/ShopApplication.assets.cache
C\#/SEP3/ShopApplication/obj/Debug/net6.0/ShopApplication.csproj.AssemblyReference.cache
C\#/SEP3/ShopApplication/obj/Debug/net6.0/ShopApplication.csproj.CoreCompileInputs.cache
C\#/SEP3/ShopApplication/obj/Debug/net6.0/ShopApplication.dll
C\#/SEP3/ShopApplication/obj/Debug/net6.0/ShopApplication.GeneratedMSBuildEditorConfig.editorconfig
C\#/SEP3/ShopApplication/obj/Debug/net6.0/ShopApplication.pdb
C\#/SEP3/ShopApplication/obj/project.assets.json
C\#/SEP3/ShopApplication/obj/project.nuget.cache
C\#/SEP3/ShopApplication/obj/project.packagespec.json
C\#/SEP3/ShopApplication/obj/rider.project.restore.info
C\#/SEP3/ShopApplication/obj/ShopApplication.csproj.nuget.dgspec.json
C\#/SEP3/ShopApplication/obj/ShopApplication.csproj.nuget.g.props
C\#/SEP3/Supplier/obj/Debug/net6.0/Supplier.assets.cache
C\#/SEP3/Supplier/obj/Debug/net6.0/Supplier.GeneratedMSBuildEditorConfig.editorconfig
C\#/SEP3/Supplier/obj/project.assets.json
C\#/SEP3/Supplier/obj/project.nuget.cache
C\#/SEP3/Supplier/obj/project.packagespec.json
C\#/SEP3/Supplier/obj/rider.project.restore.info
C\#/SEP3/Supplier/obj/Supplier.csproj.nuget.dgspec.json
C\#/SEP3/Supplier/obj/Supplier.csproj.nuget.g.props
