
C\#/SEP3/Shared/obj/Debug/net6.0/Shared.csproj.CoreCompileInputs.cache
C\#/SEP3/Supplier/bin/Debug/net6.0/Supplier.dll
C\#/SEP3/Supplier/bin/Debug/net6.0/Supplier.pdb
C\#/SEP3/Supplier/obj/Debug/net6.0/Supplier.csproj.CoreCompileInputs.cache
C\#/SEP3/Supplier/obj/Debug/net6.0/Supplier.csproj.FileListAbsolute.txt
C\#/SEP3/Supplier/obj/Debug/net6.0/Supplier.dll
C\#/SEP3/Supplier/obj/Debug/net6.0/Supplier.genruntimeconfig.cache
C\#/SEP3/Supplier/obj/Debug/net6.0/Supplier.pdb
C\#/SEP3/Supplier/obj/staticwebassets.pack.sentinel
