@page "/PurchaseHistory"
@inject IReceiptService receiptService
@using global::Shared.DTOs
@using BlazorClient.Services.ClientInterfaces
@using global::Shared
<h3>PurchaseHistory</h3>
@if (receipts == null)
            {
                <span>Loading..</span>
            }
else
{
	<div>
		<div class="table-responsive pb-5">
			<table id="tbOrderHistory" class="table border ps-table w-100 mb-3">
				<thead>
				<tr>
					<th class="font-weight-bold py-2 border-0">#Order</th>
					<th class="font-weight-bold py-2 border-0 quantity">Number of Products</th>
					<th class="font-weight-bold py-2 border-0 ">Date</th>
					<th class="font-weight-bold py-2 border-0 ">Total</th>
				</tr>
				</thead>
				<tbody>
				@foreach (Receipt receipt in receipts)
				{
					<tr>
						<td>@receipt.id</td>
						<td>@receipt.order.items.Count</td>
						<td>@receipt.order.orderDate</td>
						<td>@receipt.finalPrice</td>
					</tr>
				}
				</tbody>
			</table>
		</div>
	</div>
}
@code {
	private IEnumerable<Receipt>? receipts;
	private string msg = "";
	private long? id= null;

	protected override async Task OnInitializedAsync()
	{
		msg = "";
		try
		{
			receipts = await receiptService.GetAsync();
		}
		catch (Exception e)
		{
			Console.WriteLine(e);
			msg = e.Message;
		}
	}
}