@page "/ViewProducts"
@using BlazorClient.Services.ClientInterfaces
@using global::Shared
@using Microsoft.VisualBasic.CompilerServices
@inject IProductService productService
@inject HttpClient Http
<div class="d-flex justify-content-center mb-5"><h1>Our Products</h1></div>


@if (!string.IsNullOrEmpty(msg))
{
    <div>
        <span>@msg</span>
    </div>
}

@if (products == null)
{
    <span>Loading..</span>
}
else if (!products.Any())
{
    <span>No products to be found</span>
}
else
{
    <div class="container px-4">
        <div class="row justify-content-center g-5">
        @foreach (Product product in products)
        {
            <div class="card col-sm-3" style="width: 18rem;">
                <img class="card-img-top img-thumbnail"  src="https://i.pinimg.com/564x/a3/6b/42/a36b422bb2bebcbd77bba846b83ddf5d.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><label>@product.name</label></h5>
                    <p class="card-text text-truncate"><label>@product.description</label></p>
                    <a href="#" class="btn btn-primary">Add to cart</a>
                </div>
            </div>
        
        }
        </div>
    </div>
}

@code {
    private IEnumerable<Product>? products;
    private Product[]? list;
    private string msg = "";

    protected override async Task OnInitializedAsync()
    {
        msg = "";
        try
        {
            products = await productService.GetProducts();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }
}