@using BlazorClient.Services
@inject NavigationManager navMgr
@inject IAuthService authService

<BSNavbar Color="BSColor.Dark" IsDark="true" >
    <BSContainer Container="Container.Fluid">
        <BSNavbarBrand>Vibe Shop✓</BSNavbarBrand>
        <BSCollapse IsInNavbar="true">
            <Toggler>
                <BSNavbarToggle/>
            </Toggler>
            <Content>
                <BSNav MarginEnd="Margins.Auto" MarginBottom="Margins.Small" Class="mb-lg-0">
                    <BSNavItem IsActive="true" Url="/" Class="oi oi-home"> Home</BSNavItem>
                    <BSNavItem IsDropdown="true">
                        <BSDropdown IsDark="true">
                            <Toggler><BSToggle IsNavLink="true" Class="oi oi-tags"> Products</BSToggle></Toggler>
                            <Content >
                                <BSDropdownItem Url="ViewProducts">All</BSDropdownItem>
                                <BSDropdownItem Url="Clothes" >Clothes</BSDropdownItem>
                                <BSDropdownItem Url="Cosmetics">Cosmetics</BSDropdownItem>
                                <BSDropdownItem Url="Jewelry">Jewelry</BSDropdownItem>
                                <BSDropdownItem Url="HomeDecor">Home Decor</BSDropdownItem>
                                
                            </Content>
                        </BSDropdown>
                    </BSNavItem>
                    <BSNavItem Url="ShoppingCart" Class="oi oi-cart"> Shopping Cart</BSNavItem>
                    <BSNavItem IsDropdown="true">
                        <BSDropdown IsDark="true">
                            <Toggler><BSToggle IsNavLink="true" Class="oi oi-person"> Account</BSToggle></Toggler>
                            <Content>
                                <BSDropdownItem Url="Profile"> Profile</BSDropdownItem>
                                <BSDropdownItem Url="PurchaseHistory"> Purchase History</BSDropdownItem>
                                
                                <BSDropdownItem IsDivider="true"/>
                                <BSDropdownItem @onclick="@Logout" Class="oi oi-account-logout"> Log out</BSDropdownItem>
                            </Content>
                        </BSDropdown>
                    </BSNavItem>
                </BSNav>
            </Content>
        </BSCollapse>
        <form class="d-flex">
            <input class="form-control " type="search" placeholder="Search" aria-label="Search" @bind="toSearch" @bind:event="oninput">
            <BSButton Color="BSColor.Light" IsOutlined="true" @onclick="@Search">Search</BSButton>
        </form>
    </BSContainer>
</BSNavbar>

@code {
   
    private string toSearch = "";
    private async void Logout()
    {
        await authService.LogoutAsync();
        navMgr.NavigateTo("/login");
    }
    
    private async void Search()
    {
        navMgr.NavigateTo($"/SearchPage/{toSearch}");
        toSearch = new string("");

    }
    
    
}





